@import "tailwindcss";

:root {
  --background: #1c1c1c;
  --foreground: #ffffff;

  --graphite: #1c1c1c;
  --teal: #007880;
  --oceanic: #00bebe;
  --white: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-graphite: var(--graphite);
  --color-teal: var(--teal);
  --color-oceanic: var(--oceanic);
  --color-white: var(--white);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}
